
 body{
    padding:15px;
    margin:10px;
    font-size: 100% !important;
} 
header{

	background:#69615f;

}
}
h1{
text-transform: uppercase;
font-variant: small-caps;
font-family: Arial, "Times New Roman", serif;
font-size: 250%;
font-weight: bold;
color:#ffffff;
text-align: center;
}

nav{
    background-color: #b96565;
    display: inline-block;
}
ul{
    list-style: none;
    display: inline-block;
}
li a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    background-color: #adbedd;
    color: #080808;
    padding: 15px 25px;
  display: inline-block;
  
 }
 a:hover
 {
     background-color: aqua;
 }
